*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: #f9f9f8;
    font-family: Arial, sans-serif;
}

.container {
    width: 100%;
    max-width: 1400px;
    margin: 0 auto;        /* вот это и центрирует блок */
}

h1 {
    color: blue;
    margin-bottom: 4px;
    padding-bottom: 4px;
}

ul {
    list-style: none;
    padding: 0;
}


.footer a,
.footer span {
    display: inline-block;
    vertical-align: middle;
}
